@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&family=Nunito:wght@500;700;1000&display=swap');

*{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 1vh 6vh 0;
    overflow-x: hidden;
    font-size: 100%;
}

/*FORMATAÇÕES PADRÃO*/

h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 1000;
}

h2, h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

.SmallText{
    font-size: 0.9rem;
}

.MediumText{
    font-size: 1.4rem;
}

.BigText{
    font-size: 2rem;
    font-weight: 700;
}

.FocusText{
    font-size: 2rem;
    font-weight: 800;
    margin: 8vh 0;
}

img{
    border-radius: 20px;
}

hgroup > h2,h3,h4,h5,h6{
    line-height: 2vh;
    margin-bottom: 2vh;
}

hgroup > p{
    line-height: 3.2vh;
    margin-bottom: 2vh;
}

.CenterAlign{ /*Centraliza elementos*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.TextAlign{ /*Centraliza elementos textuais*/
    justify-content: center;
    text-align: center;
    align-items: center;
    display: block;
    padding: 6vh 0 2vh;
}
/*BOTÕES*/
.Bt_Primary{ /*Botão principal*/
    text-decoration: none;
    background-color: black;
    color: white;
    height: 10vh;
    padding: 0 10vh;
    border-radius: 0 20px 20px 20px;
    margin: 0;
    top: 0;
    transition: top ease-in 0.1s;
    position: relative;
}

.Bt_Primary:hover{
    opacity: 82%;
    cursor: pointer;
}

.Bt_Primary:hover:not(.Bt_NoTop){
    top: -5px;
}

.Bt_Secondary{ /*Botão secundário*/
    text-decoration: none;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    height: 10vh;
    padding: 0 10vh;
    border: 4px solid black;
    border-radius: 0 20px 20px 20px;
    margin: 0;
    top: 0;
    transition: top ease-in 0.1s;
    position: relative;
}

.Bt_Secondary:hover:not(.Bt_NoTop){
    opacity: 82%;
    top: -5px;
    cursor: pointer;
}

.Bt_Link{ /*Botão em texto*/
    text-decoration: none;
    color: black;
    position: relative;
    top: 0;
    transition: top ease-in 0.1s;
}

.Bt_Link:hover{
    top: -1.5px;
    cursor: pointer;
}

.Bt_Round{
    width:10%;
    height: 15%;
    background-color: #878787;
    font-family: 'Inter';
    font-weight: 700;
    color: #e4e4e4;
    border: 0;
    border-radius: 100%;
}

.Bt_Round:hover{
    background-color: #616161;
    cursor: pointer;
}
/*FIM DE BOTÕES*/

.Content_Box{ /*Caixa de Conteúdo Padrão*/
    background-color: #e4e4e4;
    border-radius: 20px;
    margin-bottom: 3vh;
    padding: 0%;
}

.Content_Box:not(#Presentation_Content, #Create_Content, #Login_Content){
    padding: 0 4vh;
}

.Card{
    background-color: white;
    height: 45vh;
    width: 50vh;
    margin: 4vh 4vh 8vh 0;
    padding: 2vh 6vh 2vh;
    border-radius: 0 20px 20px 20px;
    display: block;
    top: 0;
    transition: top ease-in 0.1s;
    position: relative;
    overflow-y: visible;
}

.Card:hover{
    top: -10px;
}

.Collapsible{
    cursor: pointer;
}

.active, .Collapsible:hover{
    background-color: #b7b7b7;
}

::-webkit-scrollbar{
    width: 0.8vw;
}

::-webkit-scrollbar-track{
    background-color: #b7b7b7;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb{
    background-color: #878787;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: black;
}
/*Modal*/
.Modal{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: rgba(77, 77, 77, 0.7);
    z-index: 4;
    transition: all 0.4s;
}

.Modal:target{
    visibility: visible;
    opacity: 1;
    transition: all 0.4s;
}

.Modal_Content{
    width: 60%;
    height: 80%;
    margin: auto;
    background-color: #e4e4e4;
}

.Modal_ContentContent{
    width: 100%;
    height: 100%;
    padding: 4vh 4vw;
}

.Modal_Content img{
    width: 80%;
    height: 50%;
}

.Modal_Cards{
    height: 65%;
    margin-bottom: 4vh;
}

.Modal_Card{
    background-color: white;
    width: 40%;
    height: 90%;
    border-radius: 0 20px 20px 20px;
    margin: 0 1vw;
    position: relative;
    top: 0;
    border:0 ;
    transition: all ease-in 0.1s;
    padding: 2vh 2vw 0 2vw;
}

.Modal_Card:hover{
    top: -5px;
    cursor: pointer;
}

.Modal_Card:focus{
    width: 41%;
    height: 91%;
    border: 4px solid black;
}

#Bt_Escolher{
    padding: 3vh 4vw;
}

.Modal_Close{
    position: absolute;
    top: 10%;
    right: 23%;
    color: black;
    text-decoration: none;
}
/*Fim de Modal*/

/*FIM DE FORMATAÇÕES PADRÃO*/

/*BARRA DE NAVEGAÇÃO*/
#NavBar_Content{
    background-color: #e4e4e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding-left: 5vh;
    position: relative;
    height: 6vh;
    margin:1vh 0 3vh;
    position: sticky;
    top: 2vh;
    z-index: 3;
}

.Bt_Link{
    padding:0 2vh;
}

#BT_Entrar{
    height: 6vh;
    margin: 0; 
    left: 4px;
}
/*FIM DE BARRA DE NAVEGAÇÃO*/

/*APRESENTAÇÃO*/
#Presentation_Content{
    justify-content: space-between;
    height: 80vh;
    width: 100%;
    background-color: white;
    border-radius: 0 20px 20px 20px;
}

#Presentation_Content img{
    border-radius: 0 20px 20px 20px;
    height: 80vh;
    width: 50vw;
    object-fit: cover;
}

#Presentation_Content_Text{
    display: block;
    justify-content: center;
    margin: 0 10vh;
    width: 30vw;
}

#Presentation_Content > hgroup > a{
    margin-top: 4vh;
}
/*FIM DE APRESENTAÇÃO*/

/*BENEFICIOS*/
#Benefits_Content{
    display: block;
    width: 100%;
    height: 85vh;
}

#Benefits_Cards{
    margin: 8vh 0 3vh;
    height: 50vh;
}

#Benefits_Cards .Card img{
    width: 30vh;
    height: 30vh;
    position: relative;
    top: -6vh;
    margin: -2vh;
}

#Benefits_Cards .Card p, h3{
    position: relative;
    top: -2vh;
}

#Benefits_Cards .Card .TextAlign{
    height: 20vh;
}
/*FIM DE BENEFÍCIOS*/

/*PLANOS*/
#Plans_Content{
    display: block;
    width: 100%;
    height: 90vh;
}

#Plans_Cards{
    height: 65vh;
}

#Plans_Cards .Card{
    height: 60vh;
    padding: 6vh 4vw 0;
}
.Plan_CardContent{
    height: 40vh;
}

#Plans_Cards > div > div > hgroup > p{
    margin-top: 0vh;
}

#Plans_Cards > div > div > hgroup > h3{
    margin-bottom: 0vh;
}

#Plans_Cards > div > div > ul > li{
    text-align: start;
}

#Plans_Cards > div > div > ul{
    margin-bottom: 8vh;
}

#Plans_Cards > div > div > a{
    padding: 2vh 4vw;
    
}

@media (max-width: 1024px) {
    #Plans_Cards, #Benefits_Cards{
        overflow-x: scroll;
        justify-content: flex-start;
    }
}
/*FIM DE PLANOS*/

/*FAQ*/
#FAQ_Content{
    display: block;
    width: 100%;
    height: 80vh;
}

#FAQ_Questions{
    width: 90%;
    margin: 0 auto;
    padding-right: 1vw;
    display: block;
}

.FAQ_Bt{
    width: 100%;
    padding: 3vh 4vh;
    background-color: white;
    border-radius: 0 20px 20px 20px;
    text-align: start;
    background-color: white;
    border: none;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 2vh;
}

.FAQ_QuestionContent{
    display: none;
    overflow: hidden;
    background-color: white;
    width: 100%;
    margin: 0 0 4vh;
    padding: 0 4vw;
    border-radius: 0 20px 20px 20px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}